body {
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: 0;
    overflow: hidden;
}

section {
    width: 100%;
    height: 100%;
    background-color: red;
}

#main > img {
    width: 100%;
    height: 100%;
}